.big-checkbox{
    border:1px solid;
    padding:10px;
}

.form-radio-sign{
    font-size:1.6em;
    text-align: center;
}

.algm1{
    color:#00a0e4;
    font-weight: 600;
}
.list1 {
  list-style-type: disc;
    color:#00a0e4; /* or whatever color you prefer */
  }
  .list2 {
    list-style-type: disc;
    color:#993e8c; /* or whatever color you prefer */
  }

  .list3 {
    list-style-type: disc;
    color: #25a23e; /* or whatever color you prefer */
  }

  .list4 {
    list-style-type: disc;
    color: #f3570c; /* or whatever color you prefer */
  }



  ul{
    list-style: none;
  }

  .background-color1{
    text-align: center;
    background-color:#00a0e4;
    color: white;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
  }

  .background-color2{
      text-align: center;
      background-color: #993e8c;
      color: white;
      margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
  }

  .background-color3{
    text-align: center;
    background-color: #25a23e;
    color: white;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.background-color4{
    text-align: center;
    background-color: #f3570c;
    color: white;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

 .oneclass{
  background-color: #cce2e9;
}

 .twoclass{
  background-color: #eee0f1;
}

 .threeclass{
  background-color: #ebf1ed;
}


.fourclass{
  background-color: #f8e9d6;
}




  .algm2{
      color:#993e8c;
      font-weight: 600;
  }


  .algm3{
    color: #25a23e;
    font-weight: 600;
}

.algm4{
    color: #f3570c;
    font-weight: 600;
}

.signup {
  width: 400px;
  padding: 60px 25px;
  border-radius: 5px;
}




/* tree structure */

.tree li {
  list-style-type:none;
  margin:0;
  padding:10px 5px 0 5px;
  position:relative
}
.tree li::before, 
.tree li::after {
  content:'';
  left:-20px;
  position:absolute;
  right:auto
}
.tree li::before {
  border-left:2px solid #495057;
  bottom:50px;
  height:100%;
  top:0;
  width:1px
}
.tree li::after {
  border-top:2px solid #495057;
  height:20px;
  top:25px;
  width:25px
}
.tree li span {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border:2px solid #495057;
  border-radius:3px;
  display:inline-block;
  padding:3px 8px;
  text-decoration:none;
  cursor:pointer;
}
.tree>ul>li::before,
.tree>ul>li::after {
  border:0;
}
.tree li:last-child::before {
  height:27px;
}
.tree li span:hover {
  background: white;
  border:2px solid #94a0b4;
  }

[aria-expanded="false"] > .expanded,
[aria-expanded="true"] > .collapsed {
display: none;
}

/* tree css */

.newscontainer{
  display: none;
}
.newscontainer1{
  display: none;
}
.newscontainer2{
  display: none;
}
.newscontainer3{
  display: none;
}
  

/* first letter icon css */


#profileImage {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background: skyblue;
  font-size: 23px;
  color: #fff;
  text-align: center;
  line-height: 42px;
  font-weight: 600;
}

#profileImage1 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: skyblue;
  font-size: 33px;
  color: #fff;
  text-align: center;
  line-height: 63px;
  font-weight: 600;
}

#firstName{
  display: none;
}

/* first letter icon css */


/* view assessment css */



/* view assessment css */

