/* slider css */
.range2 {
    position: relative;
    width: 500px;
    height: 5px;
}
.range2 input {
 
    width: 93%;
    position: absolute;
    top: 2px;
    height: 0;
    -webkit-appearance: none;
}
.range2 input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    margin: -3px 0 0;
    border-radius: 50%;
    background: #ed8524;
    cursor: pointer;
    border: 0 !important;
}
.range2 input::-moz-range-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    margin: -3px 0 0;
    border-radius: 50%;
    background: #ed8524;
    cursor: pointer;
    border: 0 !important;
}
.range2 input::-ms-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    margin: -3px 0 0;
    border-radius: 50%;
    background: #ed8524;
    cursor: pointer;
    border: 0 !important;
}
.range2 input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #b2b2b2;
    border-radius: 3px;
}
.range2 input::-moz-range-track {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #b2b2b2;
    border-radius: 3px;
}
.range2 input::-ms-track {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #b2b2b2;
    border-radius: 3px;
}
.range2 input:focus {
    background: none;
    outline: none;
}
.range2 input::-ms-track {
    -webkit-appearance: none;
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.range-labels2 {
    margin: 18px -41px 0;
    padding: 0;
    list-style: none;
}
.range-labels2 li {
    position: relative;
    float: left;
    width: 107px;
    text-align: center;
    color: #575962;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
   /* &::before {
        position: absolute;
        top: -25px;
        right: 0;
        left: 0;
        content: "";
        margin: 0 auto;
        width: 9px;
        height: 9px;
        background: #b2b2b2;
        border-radius: 50%;
   }
   */
}
.range-labels2 .active {
    color: #575962;
}
.range-labels2 .selected::before {
    background: #37adbf;
}
.range-labels2 .active.selected::before {
    display: none;
}

/* slider css */


/* impact slider css */
.range1 {
    position: relative;
    width: 500px;
    height: 5px;
}
.range1 input {
 
    width: 93%;
    position: absolute;
    top: 2px;
    height: 0;
    -webkit-appearance: none;
}
.range1 input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    margin: -3px 0 0;
    border-radius: 50%;
    background: #ed8524;
    cursor: pointer;
    border: 0 !important;
}
.range1 input::-moz-range-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    margin: -3px 0 0;
    border-radius: 50%;
    background: #ed8524;
    cursor: pointer;
    border: 0 !important;
}
.range1 input::-ms-thumb {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    margin: -3px 0 0;
    border-radius: 50%;
    background: #ed8524;
    cursor: pointer;
    border: 0 !important;
}
.range1 input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #b2b2b2;
    border-radius: 3px;
}
.range1 input::-moz-range-track {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #b2b2b2;
    border-radius: 3px;
}
.range1 input::-ms-track {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: #b2b2b2;
    border-radius: 3px;
}
.range1 input:focus {
    background: none;
    outline: none;
}
.range1 input::-ms-track {
    -webkit-appearance: none;
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.range-labels1 {
    margin: 18px -41px 0;
    padding: 0;
    list-style: none;
}
.range-labels1 li {
    position: relative;
    float: left;
    width: 107px;
    text-align: center;
    color: #575962;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
   /* &::before {
        position: absolute;
        top: -25px;
        right: 0;
        left: 0;
        content: "";
        margin: 0 auto;
        width: 9px;
        height: 9px;
        background: #b2b2b2;
        border-radius: 50%;
   }
   */
}
.range-labels1 .active {
    color: #575962;
}
.range-labels1 .selected::before {
    background: #37adbf;
}
.range-labels1 .active.selected::before {
    display: none;
}


/* impact slider css */


/* oval shape css */
.oval {
    width: 153px;
    height: 152px;
    background: white;
    border-radius: 50%;
    border: 5px solid #e05409;
    margin-top: -60px;
  }
  .oval1 {
    width: 153px;
    height: 152px;
    background: white;
    border-radius: 50%;
    border: 5px solid #e05409;
    margin-top: -9px;
  }

.inherentcss{
    text-align: center;
    padding-top: 40px;
    font-weight: 800;
}
.inherentriskscore{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.ovalassessment{
    width: 153px;
    height: 152px;
    background: white;
    border-radius: 50%;
    border: 5px solid #e05409;
    margin-top: -13px;

}
/* oval shape css */