<!DOCTYPE html>
<html lang="en"
	class="wf-lato-n3-active wf-lato-n4-active wf-lato-n7-active wf-lato-n9-active wf-flaticon-n4-inactive wf-fontawesome5solid-n4-active wf-fontawesome5regular-n4-active wf-fontawesome5brands-n4-active wf-simplelineicons-n4-active wf-active">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>New Assessment | Zupervise</title>
	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<link rel="icon" src="../static/img/icon.ico" type="image/x-icon" />

	<!-- Fonts and icons -->
	<script src="../static/js/webfont/webfont.min.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
	<!-- drag and drop js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	<!-- drag and drop js -->
	<!-- html wizard js -->
	<!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- html wizard js -->

		<!-- slider jquery js -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<!-- slider jquery js -->

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" media="all">
	<link rel="stylesheet" href="../static/css/fonts.min.css" media="all">

	<script>
		$(function () {

			$('#selectedList').on('click', 'li', function () {
				
				$(".newscontainer1, .newscontainer2, .newscontainer3").hide();
				$(".newscontainer").show();
			});
		});
	</script>

	<script>

		$(function () {
			$("#availableList, #selectedList").sortable({
				connectWith: "ul",
				placeholder: "placeholder",
				delay: 150,
				receive: function( event, ui ) {
					$('#selectedList li').each(function(index) {
				var selectedone = $(this).html();
				$("#selectedrisk").text(selectedone);
					console.log("hello",$("#selectedrisk").text());
            });
				
				}
			})
				.disableSelection()
				.dblclick(function (e) {
				
					var item = e.target;
					if (e.currentTarget.id === 'availableList') {
						//move from all to user
						$(item).fadeOut('fast', function () {
							$(item).appendTo($('#selectedList')).fadeIn('slow');
						});
					} else {
						//move from user to all
						// $(item).fadeOut('fast', function () {
						// 	$(item).appendTo($('#allFacets')).fadeIn('slow');

						// });
					}
				});
		});
	</script>


	<script>
		$(document).ready(function () {
			var firstName = $('#firstName').text();
			var intials = $('#firstName').text().charAt(0);
			var profileImage = $('#profileImage').text(intials);
			var profileImage = $('#profileImage1').text(intials);
		});
	</script>
	<!-- wizard css -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<!-- wizard css -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/atlantis.min.css">
	<link rel="stylesheet" href="../static/css/custom.css">
	<link rel="stylesheet" href="../static/css/assessment.css">
	<link rel="stylesheet" href="../static/css/slider.css">

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link rel="stylesheet" href="../static/css/demo.css">
</head>

<body>
	<div class="wrapper">
		<div class="main-header">
			<!-- Logo Header -->
			<div class="logo-header" data-background-color="blue">

				<a href="../index.html" class="logo">
					<img src="../static/img/3.png" style="width:108px;" alt="navbar brand" class="navbar-brand">
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
					data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="icon-menu"></i>
					</span>
				</button>
				<button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
				<div class="nav-toggle">
					<button class="btn btn-toggle toggle-sidebar">
						<i class="icon-menu"></i>
					</button>
				</div>
			</div>
			<!-- End Logo Header -->

			<!-- Navbar Header -->
			<nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue2">
				<div class="container-fluid">
					<div class="collapse" id="search-nav">
						<form class="navbar-left navbar-form nav-search mr-md-3">
							<div class="input-group">
								<div class="input-group-prepend">
									<button type="submit" class="btn btn-search pr-1">
										<i class="fa fa-search search-icon"></i>
									</button>
								</div>
								<input type="text" placeholder="Search ..." class="form-control">
							</div>
						</form>
					</div>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item toggle-nav-search hidden-caret">
							<a class="nav-link" data-toggle="collapse" href="#search-nav" role="button" aria-expanded="false"
								aria-controls="search-nav">
								<i class="fa fa-search"></i>
							</a>
						</li>
						<li class="nav-item dropdown hidden-caret">
						<li class="nav-item dropdown hidden-caret">
							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
								<div class="avatar-sm">
									<span id="firstName">Zupervise</span>
									<div id="profileImage"></div>
								</div>
							</a>
							<ul class="dropdown-menu dropdown-user animated fadeIn">
								<div class="dropdown-user-scroll scrollbar-outer">
									<li>
										<div class="user-box">
											<div class="avatar-lg">
												<span id="firstName">Zupervise</span>
												<div id="profileImage1"></div>
											</div>
											<div class="u-text">
												<h4>Zupervise</h4>
												<p class="text-muted">hello@example.com</p><a href="profile.html"
													class="btn btn-xs btn-secondary btn-sm">View Profile</a>
											</div>
										</div>
									</li>
									<li>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">My Profile</a>
										<a class="dropdown-item" href="#">My Balance</a>
										<a class="dropdown-item" href="#">Inbox</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">Account Setting</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="../templates/index.html">Logout</a>
									</li>
								</div>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
			<!-- End Navbar -->
		</div>
		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2">
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
					<div class="user">
						<div class="avatar-sm float-left mr-2">
							<img src="../static/img/profile.png" alt="..." class="avatar-img rounded-circle">
						</div>
						<div class="info">
							<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									Zupervise
									<span class="user-level">Administrator</span>
									<span class="caret"></span>
								</span>
							</a>
							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample">
								<ul class="nav">
									<li>
										<a href="#profile">
											<span class="link-collapse">My Profile</span>
										</a>
									</li>
									<li>
										<a href="#edit">
											<span class="link-collapse">Edit Profile</span>
										</a>
									</li>
									<li>
										<a href="#settings">
											<span class="link-collapse">Settings</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<ul class="nav nav-primary">
						<li class="nav-item active">
							<a href="../templates/dashboard.html" class="collapsed">
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
							</a>
						</li>
						<!-- <li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">Components</h4>
						</li> -->
						<li class="nav-item">
							<a data-toggle="collapse" href="#base" aria-expanded="false">
								<i class="fas fa-layer-group"></i>
								<p>Risks</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="base">
								<ul class="nav nav-collapse">
									<li>
										<a href="../templates/new-risk.html">
											<span class="sub-item">New Risk</span>
										</a>
									</li>
									<li>
										<a href="../templates/risk-list.html">
											<span class="sub-item">View Risks</span>
										</a>
									</li>
								</ul>
							</div>
						</li>

						<li class="nav-item">
							<a data-toggle="collapse" href="#controls">
								<i class="fas fa-pen-square"></i>
								<p>Controls</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="controls">
								<ul class="nav nav-collapse">
									<li>
										<a href="../templates/new-control.html">
											<span class="sub-item">New Control</span>
										</a>
									</li>
									<li>
										<a href="../templates/control-list.html">
											<span class="sub-item">View Controls</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<a data-toggle="collapse" href="#assessments">
								<i class="fas fa-table"></i>
								<p>Risk Assessments</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="assessments">
								<ul class="nav nav-collapse">
									<li>
										<a href="../templates/new-assessment.html">
											<span class="sub-item">New Assessment</span>
										</a>
									</li>
									<li>
										<a href="../templates/assessment-list.html">
											<span class="sub-item">View Assessments</span>
										</a>
									</li>
								</ul>
							</div>
						</li>

						<!-- <li class="nav-item">
							<a href="widgets.html">
								<i class="fas fa-desktop"></i>
								<p>Widgets</p>
								<span class="badge badge-success">4</span>
							</a>
						</li> -->

						<!-- <li class="mx-4 mt-2">
							<a href="http://themekita.com/atlantis-bootstrap-dashboard.html" class="btn btn-primary btn-block"><span class="btn-label mr-2"> <i class="fa fa-heart"></i> </span>Buy Pro</a> 
						</li> -->
					</ul>
				</div>
			</div>
		</div>
		<!-- End Sidebar -->
		<div class="main-panel">
			<div class="content">
				<div class="page-inner">
					<div class="page-header">
						<h4 class="page-title">Assessments</h4>
						<ul class="breadcrumbs">
							<!-- <li class="nav-home">
								<a href="#">
									<i class="flaticon-home"></i>
								</a>
							</li> -->
							<!-- <li class="separator">
								<i class="flaticon-right-arrow"></i>
							</li>
							<li class="nav-item">
								<a href="#">Forms</a>
							</li>
							<li class="separator">
								<i class="flaticon-right-arrow"></i>
							</li>
							<li class="nav-item">
								<a href="#">Risks</a>
							</li> -->
						</ul>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">New Assessment</div>
								</div>
								<div class="card-body">
									<section class="signup-step-container">
										<div class="container">
											<div class="row d-flex justify-content-center">
												<div class="col-md-12">
													<div class="wizard">
														<div class="wizard-inner">
															<div class="connecting-line"></div>
															<ul class="nav nav-tabs" role="tablist">
																<li role="presentation" class="active">
																	<a href="#step1" data-toggle="tab" aria-controls="step1" role="tab"
																		aria-expanded="true"></a>
																</li>
																<li role="presentation" class="disabled">
																	<a href="#step2" data-toggle="tab" aria-controls="step2" role="tab"
																		aria-expanded="false"></a>
																</li>
																<li role="presentation" class="disabled">
																	<a href="#step3" data-toggle="tab" aria-controls="step3" role="tab"> </a>
																</li>
																<li role="presentation" class="disabled">
																	<a href="#step4" data-toggle="tab" aria-controls="step4" role="tab"></a>
																</li>
															</ul>
														</div>

														<form role="form" action="index.html" class="login-box">
															<div class="tab-content" id="main_form">
																<div class="tab-pane active" role="tabpanel" id="step1">
																	<div class="row" id="rccss">
																		<div class="col-md-4">
																			<div class="form-group">
																				<div class="draggable-main">
																					<h6 class="avairisk">Available Risk</h6>
																					<div class="box">
																						<ul id="availableList" class="facet-list">
																							<li class="facet">Red Module Failure</li>
																							<li class="facet">Demolition</li>
																							<li class="facet">Materials</li>
																							<li class="facet">Cost Management</li>
																							<li class="facet">Audits</li>
																						</ul>
																					</div>


																				</div>
																			</div>



																		</div>
																		<div class="col-md-4">
																			<div class="form-group">
																				<div class="draggable-main rightlist">
																					<h6 class="avairisk">Selected Risk</h6>
																					<div class="box">

																						<ul id="selectedList" class="facet-list">
																						</ul>
																						<input type="hidden" id="selectedrisk" name="selectedrisk">
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="col-md-4">
																			<div class="newscontainer">
																				<h6 class="controlhead">Control List</h6>
																				<div class="form-group">
																					<ul class="list-group">
																						<li class="list-group-item disabled">
																							Inspection</li>
																						<li class="list-group-item">Maintenance</li>
																						<li class="list-group-item">Testing</li>
																						<li class="list-group-item">Due Digilence
																						</li>
																						<li class="list-group-item">Automation</li>
																					</ul>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="row">
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="projectname">Assessment Project
																					Name</label>
																				<input type="text" class="form-control" id="projectname"
																					placeholder="Enter Project Name">

																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="entity">Entity</label>
																				<input type="text" class="form-control" id="entity" placeholder="Enter Entity">
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="sector">Sector</label>
																				<input type="text" class="form-control" id="sector" placeholder="Enter sector">
																			</div>
																		</div>


																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="business">Business</label>
																				<input type="text" class="form-control" id="business"
																					placeholder="Enter Business">
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="trigger">Trigger</label>
																				<input type="text" class="form-control" id="trigger"
																					placeholder="Enter trigger">
																			</div>
																		</div>


																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="rcsaentity">RCSA Entity</label>
																				<input type="text" class="form-control" id="rcsaentity"
																					placeholder="Enter RCSA Entity">
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="riskowner">Risk Owner</label>
																				<input type="text" class="form-control" id="riskowner"
																					placeholder="Enter Risk Owner" readonly>
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="exampleFormControlSelect1">Positive Risk Response</label>
																				<select class="form-control" id="exampleFormControlSelect1">
																					<option>Accept</option>
																					<option>Enhance</option>
																					<option>Share</option>
																					<option>Exploit</option>
																				</select>
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="exampleFormControlSelect1">Negative Risk Response</label>
																				<select class="form-control" id="exampleFormControlSelect1">
																					<option>Accept</option>
																					<option>Mitigate</option>
																					<option>Transfer</option>
																					<option>Avoid</option>
																				</select>
																			</div>
																		</div>
																			<div class="col-md-6">
																			<div class="form-group">
																				<label for="samplesize">Sample Size</label>
																				<input type="text" class="form-control" id="samplesize"
																					placeholder="Enter Sample Size">
																			</div>
																		</div>
																	</div>
																	<ul class="list-inline pull-right">
																		<li><button type="button" class="default-btn next-step">Save & Continue</button>
																		</li>
																	</ul>
																</div>
																<div class="tab-pane" role="tabpanel" id="step2">
																	<div class="row">
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="exampleFormControlSelect2">Category of AI Risk</label>
																				<select multiple class="form-control" id="exampleFormControlSelect2">
																					<option>Privacy</option>
																					<option>Responsbility</option>
																					<option>Reliability</option>
																					<option>Accountability</option>
																					<option>Security</option>
																				</select>
																			</div>
																		</div>

																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="exampleFormControlSelect2">Source</label>
																				<select multiple class="form-control" id="exampleFormControlSelect2">
																					<option>Process</option>
																					<option>Data</option>
																					<option>People</option>
																					<option>Model</option>
																				</select>
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="exampleFormControlSelect1">Frequency</label>
																				<select class="form-control" id="exampleFormControlSelect1">
																					<option>One-time</option>
																					<option>Recurring</option>
																					<option>Both</option>
																				</select>
																			</div>
																		</div>



																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="businessprocess">Business Process</label>
																				<input type="text" class="form-control" id="businessprocess" placeholder="">
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="subprocess">Sub Process</label>
																				<input type="text" class="form-control" id="subprocess" placeholder="">
																			</div>

																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="riskscore">Inherent Risk Score</label>
																				<input type="text" class="form-control" id="riskscore" placeholder="" readOnly>
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="impactdesc">Impact Description</label>
																				<input type="text" class="form-control" id="impactdesc"
																					placeholder="Enter impact description">
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="exampleFormControlSelect1">Classification</label>
																				<select class="form-control" id="exampleFormControlSelect1">
																					<option>Positive</option>
																					<option>Negative</option>
																				</select>
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="responseowner">Response Owner</label>
																				<input type="text" class="form-control" id="responseowner" readOnly
																					placeholder="Owner name">
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="description">Response Description</label>
																				<input type="text" class="form-control" id="description"
																					placeholder="Enter response description">
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="password">Expected Response Impact</label>
																				<input type="text" class="form-control" id="password"
																					placeholder="Response impact">
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="controlid">Control ID</label>
																				<input type="text" class="form-control" id="controlid" placeholder="" readonly>
																			</div>
																		</div>
																	</div>
																	<ul class="list-inline pull-right">
																		<li><button type="button" class="default-btn prev-step">Back</button></li>
																		<li><button type="button" class="default-btn next-step"> Save & Continue</button>
																		</li>
																	</ul>

																</div>
																<div class="tab-pane" role="tabpanel" id="step3">
																	<div class="row">
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="keycontrol">Key Control</label>
																				<input type="text" class="form-control" id="keycontrol" placeholder="" readOnly>
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="process">Process</label>
																				<input type="text" class="form-control" id="process"
																					placeholder="Enter Process">
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="Summary">Summary</label>
																				<input type="text" class="form-control" id="summary"
																					placeholder="Enter Summary">
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="guidelines">Guidelines</label>
																				<input type="text" class="form-control" id="guidelines"
																					placeholder="Guidelines">
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="exampleFormControlSelect2">Type of Report</label>
																				<select multiple class="form-control" id="exampleFormControlSelect2">
																					<option>Standard Report</option>
																					<option>Custom Developed Report</option>
																					<option>Ad-hoc Query</option>
																					<option>Manually Developed Report</option>
																				</select>
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="reportdate">Effective Date of Report</label>
																				<input type="date" class="form-control" id="reportdate" placeholder="">
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="exampleFormControlSelect1">Frequency</label>
																				<select class="form-control" id="exampleFormControlSelect1">
																					<option>Annual</option>
																					<option>Semi-Annual</option>
																					<option>Quarterly</option>
																					<option>Monthly</option>
																					<option>Bi-weekly</option>
																					<option>Weekly</option>
																					<option>Transactional</option>
																					<option>Ad Hoc</option>
																				</select>
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="exampleFormControlSelect1">Classification</label>
																				<select class="form-control" id="exampleFormControlSelect1">
																					<option>Manual</option>
																					<option>It Department</option>
																					<option>Automated</option>
																				</select>
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="exampleFormControlSelect1">Type</label>
																				<select class="form-control" id="exampleFormControlSelect1">
																					<option>Preventative</option>
																					<option>Detective</option>
																				</select>
																			</div>
																		</div>
																		<div class="col-md-6">
																			<div class="form-group">
																				<label for="exampleFormControlSelect1">Effectiveness</label>
																				<select class="form-control" id="exampleFormControlSelect1">
																					<option>Saticfactory</option>
																					<option>Not Satisfactory:Business Issue (BI)</option>
																					<option>Not Satisfactory:Major Business Issue (MBI)</option>
																				</select>
																			</div>
																		</div>
																	</div>
																	<ul class="list-inline pull-right">
																		<li><button type="button" class="default-btn prev-step">Back</button></li>
																		<li><button type="button" class="default-btn next-step">Save & Continue</button>
																		</li>
																	</ul>
																</div>
																<div class="tab-pane" role="tabpanel" id="step4">
																	<div class="row">
																		<div class="col-md-12 col-lg-12">
																			<div class="form-check">
																				<label>Algorithm</label><br />
																				<div class="row">
																					<div class="col-xs-12 col-md-3">
																						<label class="form-radio-label">
																							<input class="form-radio-input" type="radio" name="optionsRadios" value=""
																								checked="">
																							<div class="big-checkbox oneclass">
																								<div class="background-color1">
																									<span class="form-radio-sign">Supervised
																										Learning</span><br /><br />
																								</div>
																								<div>

																									<p style="word-break: break-all;
																						white-space: normal;">Data scientists provide input,output and feedback to build
																										model(as the definition)</p>
																									<h4 class="algm1">EXAMPLE ALGORITHMS</h4>
																									<h4>Linear regressions</h4>
																									<ul>
																										<li class="list1">sales forecasting</li>
																										<li class="list1">risk assessment</li>
																									</ul>
																									<h4>Support vector machines</h4>
																									<ul>
																										<li class="list1">image classification</li>
																										<li class="list1">financial perfomance
																											comparison</li>
																									</ul>
																									<h4>Decision tree</h4>
																									<ul>
																										<li class="list1">predictive analytics</li>
																										<li class="list1">pricing</li>
																									</ul>
																								</div>
																							</div>
																						</label>
																					</div>

																					<div class="col-xs-12 col-md-3">
																						<label class="form-radio-label ml-3">
																							<input class="form-radio-input" type="radio" name="optionsRadios"
																								value="">
																							<div class="big-checkbox twoclass">
																								<div class="background-color2">
																									<span class="form-radio-sign">Unsupervised
																										Learning</span><br /><br />
																								</div>
																								<div>

																									<p style="word-break: break-all;
																										white-space: normal;">Use deep learning to arrive at conclusions and patterns through
																										unlabled training
																										data.</p>
																									<h4 class="algm2">EXAMPLE ALGORITHMS</h4>
																									<h4>Apriori</h4>
																									<ul>
																										<li class="list2">sales functions</li>
																										<li class="list2">word associations</li>
																										<li class="list2">searcher</li>
																									</ul>
																									<h4>K-means clustering</h4>
																									<ul>
																										<li class="list2">perfomance monitoring</li>
																										<li class="list2">searcher intent</li>
																									</ul>
																								</div>
																							</div>
																						</label>
																					</div>

																					<div class="col-xs-12 col-md-3">
																						<label class="form-radio-label ml-3">
																							<input class="form-radio-input" type="radio" name="optionsRadios"
																								value="">
																							<div class="big-checkbox threeclass">
																								<div class="background-color3">
																									<span class="form-radio-sign">Semi-supervised
																										Learning</span><br /><br />
																								</div>
																								<div>

																									<p style="word-break: break-all;
																										white-space: normal;">Builds a model through a mix of labeled and unlabeled data, a set of
																										categories,suggestions and exampled labels.</p>
																									<h4 class="algm3">EXAMPLE ALGORITHMS</h4>
																									<h4>Generative adversarial networks</h4>
																									<ul>
																										<li class="list3">audio and video manipulation
																										</li>
																										<li class="list3">data creation</li>
																									</ul>
																									<h4>K-means clustering</h4>
																									<ul>
																										<li class="list3">perfomance monitoring</li>
																										<li class="list3">searcher intent</li>
																									</ul>
																								</div>
																							</div>
																						</label>
																					</div>

																					<div class="col-xs-12 col-md-3">
																						<label class="form-radio-label ml-3">
																							<input class="form-radio-input" type="radio" name="optionsRadios"
																								value="">
																							<div class="big-checkbox fourclass">
																								<div class="background-color4">
																									<span class="form-radio-sign">Reinforcement
																										Learning</span><br /><br />
																								</div>
																								<div>

																									<p style="word-break: break-all;
																										white-space: normal;">Self interpreting but based on a system of rewards and punishments
																										learned through
																										trial and error,seeking maximum reward.</p>
																									<h4 class="algm4">EXAMPLE ALGORITHMS</h4>
																									<h4>Q-learning</h4>
																									<ul>
																										<li class="list4">policy creation</li>
																										<li class="list4">consumption reduction</li>
																									</ul>
																									<h4>Model-based value estimation</h4>
																									<ul>
																										<li class="list4">linear tasks</li>
																										<li class="list4">estimating partners</li>
																									</ul>
																								</div>
																							</div>
																						</label>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="col-md-12 col-lg-12">
																			<div class="form-group">
																				<label>Control Execution Report</label>
																				<div class="custom-file">
																					<input type="file" class="custom-file-input" id="customFile">
																					<label class="custom-file-label" for="customFile">Select
																						file</label>
																				</div>
																			</div>
																		</div>

																		<div class="col-xs-12 col-md-6">
																			<div class="form-group">
																				<label for="likelihood">Likelihood</label>
																				<div class="range2" style="background: none;">
																					<input type="range" min="1" max="5" steps="1" onchange="updateTextInput(this.value)">
																					 
																					</div>
																				
																					<ul class="range-labels2">
																					<li class="active selected">Rare</li>
																					<li>Unlikely</li>
																					<li>Reasonably Possible</li>
																					<li>Likely</li>
																					<li>Almost Certain</li>
																					</ul>
																				
																					<input type="hidden" id="likelihood" name="likelihood" value="">
																			</div>
																		</div>
																		<div class="col-md-3">
																			<div class="form-group">
																				<div class="ovalassessment">
																					<h6 class="inherentcss"><span>Inherent</span><span>Risk Score</span></h6>
																					<div class="inherentriskscore" name="riskscore" id="riskscore" >24</div>
																				</div>
																			</div>
																		</div>
								
								
																		<div class="col-xs-12 col-md-6">
																			<div class="form-group">
																				<label for="likelihood">Impact</label>
																				<div class="range1" style="background: none;">
																					<input type="range" min="1" max="5" steps="1" onchange="updateTextInput1(this.value)">
																					 
																					</div>
																				
																					<ul class="range-labels1">
																					<li class="active selected">Low</li>
																					<li>Minor</li>
																					<li>Moderate</li>
																					<li>Major</li>
																					<li>Catastrophic</li>
																					</ul>
																				
																					<input type="hidden" id="impact" name="impact" value="">
																			</div>
																		</div>
																		<div class="col-md-3">
																			<div class="form-group">
																				<div class="oval1">
																					<h6 class="inherentcss"><span>Inherent</span><span>Risk Score</span></h6>
																					<div class="inherentriskscore" name="riskscore" id="riskscore" >24</div>
																				</div>
																			</div>
																		</div>
																	</div>

																	<ul class="list-inline pull-right">
																		<li><button type="button" class="default-btn prev-step">Back</button></li>
																		<li><button type="button" class="default-btn next-step">Finish</button>
																		</li>
																	</ul>
																</div>
																<div class="clearfix"></div>
															</div>

														</form>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link" href="https://www.themekita.com">
									ThemeKita
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									Help
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									Licenses
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
						2018, made with <i class="fa fa-heart heart text-danger"></i> by <a
							href="https://www.themekita.com">ThemeKita</a>
					</div>
				</div>
			</footer>
		</div>

		<!-- Custom template | don't include it in your project! -->
		<div class="custom-template">
			<div class="title">Settings</div>
			<div class="custom-content">
				<div class="switcher">
					<div class="switch-block">
						<h4>Logo Header</h4>
						<div class="btnSwitch">
							<button type="button" class="changeLogoHeaderColor" data-color="dark"></button>
							<button type="button" class="selected changeLogoHeaderColor" data-color="blue"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="purple"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="light-blue"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="green"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="orange"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="red"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="white"></button>
							<br />
							<button type="button" class="changeLogoHeaderColor" data-color="dark2"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="blue2"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="purple2"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="light-blue2"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="green2"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="orange2"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="red2"></button>
						</div>
					</div>
					<div class="switch-block">
						<h4>Navbar Header</h4>
						<div class="btnSwitch">
							<button type="button" class="changeTopBarColor" data-color="dark"></button>
							<button type="button" class="changeTopBarColor" data-color="blue"></button>
							<button type="button" class="changeTopBarColor" data-color="purple"></button>
							<button type="button" class="changeTopBarColor" data-color="light-blue"></button>
							<button type="button" class="changeTopBarColor" data-color="green"></button>
							<button type="button" class="changeTopBarColor" data-color="orange"></button>
							<button type="button" class="changeTopBarColor" data-color="red"></button>
							<button type="button" class="changeTopBarColor" data-color="white"></button>
							<br />
							<button type="button" class="changeTopBarColor" data-color="dark2"></button>
							<button type="button" class="selected changeTopBarColor" data-color="blue2"></button>
							<button type="button" class="changeTopBarColor" data-color="purple2"></button>
							<button type="button" class="changeTopBarColor" data-color="light-blue2"></button>
							<button type="button" class="changeTopBarColor" data-color="green2"></button>
							<button type="button" class="changeTopBarColor" data-color="orange2"></button>
							<button type="button" class="changeTopBarColor" data-color="red2"></button>
						</div>
					</div>
					<div class="switch-block">
						<h4>Sidebar</h4>
						<div class="btnSwitch">
							<button type="button" class="selected changeSideBarColor" data-color="white"></button>
							<button type="button" class="changeSideBarColor" data-color="dark"></button>
							<button type="button" class="changeSideBarColor" data-color="dark2"></button>
						</div>
					</div>
					<div class="switch-block">
						<h4>Background</h4>
						<div class="btnSwitch">
							<button type="button" class="changeBackgroundColor" data-color="bg2"></button>
							<button type="button" class="changeBackgroundColor selected" data-color="bg1"></button>
							<button type="button" class="changeBackgroundColor" data-color="bg3"></button>
							<button type="button" class="changeBackgroundColor" data-color="dark"></button>
						</div>
					</div>
				</div>
			</div>
			<div class="custom-toggle">
				<i class="flaticon-settings"></i>
			</div>
		</div>
		<!-- End Custom template -->
	</div>
	<!--   Core JS Files   -->
	<script src="../static/js/likelihoodslider.js"></script>
	<script src="../static/js/impactslider.js"></script>
	<script src="../static/js/main.js"></script>
	<!-- <script src="../static/js/core/jquery.3.2.1.min.js"></script> -->
	<script src="../static/js/core/popper.min.js"></script>
	<script src="../static/js/core/bootstrap.min.js"></script>

	<!-- jQuery UI -->
	<script src="../static/js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="../static/js/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

	<!-- jQuery Scrollbar -->
	<script src="../static/js/jquery-scrollbar/jquery.scrollbar.min.js"></script>

	<!-- jQuery Sparkline -->
	<script src="../static/js/jquery.sparkline/jquery.sparkline.min.js"></script>

	<!-- Datatables -->
	<script src="../static/js/datatables/datatables.min.js"></script>

	<!-- Bootstrap Notify -->
	<script src="../static/js/bootstrap-notify/bootstrap-notify.min.js"></script>

	<!-- Sweet Alert -->
	<script src="../static/js/sweetalert/sweetalert.min.js"></script>

	<!-- Atlantis JS -->
	<script src="../static/js/atlantis.min.js"></script>

	<script src="../static/js/setting-demo.js"></script>

</body>

</html>