<!DOCTYPE html>
<html lang="en" class="wf-lato-n3-active wf-lato-n4-active wf-lato-n7-active wf-lato-n9-active wf-flaticon-n4-inactive wf-simplelineicons-n4-active wf-fontawesome5solid-n4-active wf-fontawesome5regular-n4-active wf-fontawesome5brands-n4-active wf-active translated-ltr"><head><style class="vjs-styles-defaults">
	.video-js {
	  width: 300px;
	  height: 150px;
	}

	.vjs-fluid {
	  padding-top: 56.25%
	}
  </style>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Login</title>
  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
  <!-- <link rel="icon" href="../assets/img/icon.ico" type="image/x-icon"> -->

  <!-- Fonts and icons -->
  <script src="../static/js/webfont/webfont.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" media="all"><link rel="stylesheet" href="../static/css/fonts.min.css" media="all"><script>
	  WebFont.load({
		  google: {"families":["Lato:300,400,700,900"]},
		  custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../static/css/fonts.min.css']},
		  active: function() {
			  sessionStorage.fonts = true;
		  }
	  });
  </script>
  
  <!-- CSS Files -->
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/atlantis.css">
<link type="text/css" rel="stylesheet" charset="UTF-8" href="https://translate.googleapis.com/translate_static/css/translateelement.css"></head>
<body class="login">
  <div class="wrapper wrapper-login wrapper-login-full p-0">
	  <div class="login-aside w-50 d-flex flex-column align-items-center justify-content-center text-center bg-secondary-gradient">
		  <h1 class="title fw-bold text-white mb-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Join Our Community</font></font></h1>
		  <p class="subtitle text-white op-7"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Come join our community for a better future</font></font></p>
	  </div>
	  <div class="login-aside w-50 d-flex align-items-center justify-content-center bg-white">
		  <div class="container container-login container-transparent animated fadeIn" style="display: block;">
			  <h3 class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Forgot Password</font></font></h3>
			  <div class="login-form">
				  <div class="form-group">
					  <label for="username" class="placeholder"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Username</font></font></b></label>
                      <input id="username" name="username" type="text" class="form-control" required="">
                      <div class="form-text text-muted">
                        By clicking "Reset Password" we will send a password reset link
                    </div>
				  </div>
                  <div class="form-group m-0">
					<a type="submit" href="../templates/index.html"  class="btn btn-sm btn-secondary col-md-4 float-left mt-3 mt-sm-0 fw-bold">
                        Back to Login
                    </a>
                    <button type="submit"  class="btn btn-sm btn-secondary col-md-4 float-right mt-3 mt-sm-0 fw-bold">
                        Reset Password
					</button>
                </div>
			  </div>
		  </div>

		 
	  </div>
  </div>
  <script src="../static/js/core/jquery.3.2.1.min.js"></script>
  <script src="../static/js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
  <script src="../static/js/core/popper.min.js"></script>
  <script src="../static/js/core/bootstrap.min.js"></script>
  <script src="../static/js/atlantis.min.js"></script><div id="goog-gt-tt" class="skiptranslate" dir="ltr"><div style="padding: 8px;"><div><div class="logo"><img src="https://www.gstatic.com/images/branding/product/1x/translate_24dp.png" width="20" height="20" alt="Google Translate"></div></div></div><div class="top" style="padding: 8px; float: left; width: 100%;"><h1 class="title gray">Original text</h1></div><div class="middle" style="padding: 8px;"><div class="original-text"></div></div><div class="bottom" style="padding: 8px;"><div class="activity-links"><span class="activity-link">Contribute a better translation</span><span class="activity-link"></span></div><div class="started-activity-container"><hr style="color: #CCC; background-color: #CCC; height: 1px; border: none;"><div class="activity-root"></div></div></div><div class="status-message" style="display: none;"></div></div>

<div class="goog-te-spinner-pos"><div class="goog-te-spinner-animation"><svg xmlns="http://www.w3.org/2000/svg" class="goog-te-spinner" width="96px" height="96px" viewBox="0 0 66 66"><circle class="goog-te-spinner-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg></div></div></body></html>