<!DOCTYPE html>
<html lang="en"
	class="wf-lato-n3-active wf-lato-n4-active wf-lato-n7-active wf-lato-n9-active wf-flaticon-n4-inactive wf-fontawesome5solid-n4-active wf-fontawesome5regular-n4-active wf-fontawesome5brands-n4-active wf-simplelineicons-n4-active wf-active">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>New Assessment | Zupervise</title>
	<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
	<link rel="icon" src="../static/img/icon.ico" type="image/x-icon" />

	<!-- Fonts and icons -->
	<script src="../static/js/webfont/webfont.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" media="all">
	<link rel="stylesheet" href="../static/css/fonts.min.css" media="all">
	<script>
		$(document).on('click', '#plus', function () {
			var template = "<div class='col-md-6' id='extra'>" +
				"<div class='form-group'>" +
				"<label for='exampleFormControlSelect1'>Risk</label>" +
				"<select class='form-control' id='exampleFormControlSelect1'>" +
				"<option>Accept</option>" +
				"<option>Mitigate</option>" +
				"<option>Transfer</option>" +
				"<option>Avoid</option>" +
				"</select>" +
				"</div>" +
				"</div>" +
				" " +
				"<div class='col-md-6' id='extra'>" +
				"<div class='form-group'>" +
				"<label for='exampleFormControlSelect1'>Control</label>" +
				"<select class='form-control' id='exampleFormControlSelect1'>" +
				"<option>Accept</option>" +
				"<option>Mitigate</option>" +
				"<option>Transfer</option>" +
				"<option>Avoid</option>" +
				"</select>" +
				"</div>" +
				"</div>"
			console.log("this");
			$('#dynamic').append(template);
			template = "";
		});

		$(document).on('click', '.delete-field', function () {
			console.log("re");
			$(this).parents("#extra").remove();
		});
	</script>
	<script>
		//I added event handler for the file upload control to access the files properties.
		document.addEventListener("DOMContentLoaded", init, false);

		//To save an array of attachments
		var AttachmentArray = [];

		//counter for attachment array
		var arrCounter = 0;

		//to make sure the error message for number of files will be shown only one time.
		var filesCounterAlertStatus = false;

		//un ordered list to keep attachments thumbnails
		var ul = document.createElement("ul");
		ul.className = "thumb-Images";
		ul.id = "imgList";

		function init() {
			//add javascript handlers for the file upload event
			document
				.querySelector("#files")
				.addEventListener("change", handleFileSelect, false);
		}

		//the handler for file upload event
		function handleFileSelect(e) {
			//to make sure the user select file/files
			if (!e.target.files) return;

			//To obtaine a File reference
			var files = e.target.files;

			// Loop through the FileList and then to render image files as thumbnails.
			for (var i = 0, f; (f = files[i]); i++) {
				//instantiate a FileReader object to read its contents into memory
				var fileReader = new FileReader();

				// Closure to capture the file information and apply validation.
				fileReader.onload = (function (readerEvt) {
					return function (e) {
						//Apply the validation rules for attachments upload
						ApplyFileValidationRules(readerEvt);

						//Render attachments thumbnails.
						RenderThumbnail(e, readerEvt);

						//Fill the array of attachment
						FillAttachmentArray(e, readerEvt);
					};
				})(f);

				// Read in the image file as a data URL.
				// readAsDataURL: The result property will contain the file/blob's data encoded as a data URL.
				// More info about Data URI scheme https://en.wikipedia.org/wiki/Data_URI_scheme
				fileReader.readAsDataURL(f);
			}
			document
				.getElementById("files")
				.addEventListener("change", handleFileSelect, false);
		}

		//To remove attachment once user click on x button
		jQuery(function ($) {
			$("div").on("click", ".img-wrap .close", function () {
				var id = $(this)
					.closest(".img-wrap")
					.find("img")
					.data("id");

				//to remove the deleted item from array
				var elementPos = AttachmentArray.map(function (x) {
					return x.FileName;
				}).indexOf(id);
				if (elementPos !== -1) {
					AttachmentArray.splice(elementPos, 1);
				}

				//to remove image tag
				$(this)
					.parent()
					.find("img")
					.not()
					.remove();

				//to remove div tag that contain the image
				$(this)
					.parent()
					.find("div")
					.not()
					.remove();

				//to remove div tag that contain caption name
				$(this)
					.parent()
					.parent()
					.find("div")
					.not()
					.remove();

				//to remove li tag
				var lis = document.querySelectorAll("#imgList li");
				for (var i = 0; (li = lis[i]); i++) {
					if (li.innerHTML == "") {
						li.parentNode.removeChild(li);
					}
				}
			});
		});

		//Apply the validation rules for attachments upload
		function ApplyFileValidationRules(readerEvt) {
			//To check file type according to upload conditions
			if (CheckFileType(readerEvt.type) == false) {
				alert(
					"The file (" +
					readerEvt.name +
					") does not match the upload conditions, You can only upload jpg/png/gif files"
				);
				e.preventDefault();
				return;
			}

			//To check file Size according to upload conditions
			if (CheckFileSize(readerEvt.size) == false) {
				alert(
					"The file (" +
					readerEvt.name +
					") does not match the upload conditions, The maximum file size for uploads should not exceed 300 KB"
				);
				e.preventDefault();
				return;
			}

			//To check files count according to upload conditions
			if (CheckFilesCount(AttachmentArray) == false) {
				if (!filesCounterAlertStatus) {
					filesCounterAlertStatus = true;
					alert(
						"You have added more than 10 files. According to upload conditions you can upload 10 files maximum"
					);
				}
				e.preventDefault();
				return;
			}
		}

		//To check file type according to upload conditions
		function CheckFileType(fileType) {
			if (fileType == "image/jpeg") {
				return true;
			} else if (fileType == "image/png") {
				return true;
			} else if (fileType == "image/gif") {
				return true;
			} else {
				return false;
			}
			return true;
		}

		//To check file Size according to upload conditions
		function CheckFileSize(fileSize) {
			if (fileSize < 300000) {
				return true;
			} else {
				return false;
			}
			return true;
		}

		//To check files count according to upload conditions
		function CheckFilesCount(AttachmentArray) {
			//Since AttachmentArray.length return the next available index in the array,
			//I have used the loop to get the real length
			var len = 0;
			for (var i = 0; i < AttachmentArray.length; i++) {
				if (AttachmentArray[i] !== undefined) {
					len++;
				}
			}
			//To check the length does not exceed 10 files maximum
			if (len > 9) {
				return false;
			} else {
				return true;
			}
		}

		//Render attachments thumbnails.
		function RenderThumbnail(e, readerEvt) {
			var li = document.createElement("li");
			ul.appendChild(li);
			li.innerHTML = [
				'<div class="img-wrap"> <span class="close">&times;</span>' +
				'<img class="thumb" src="',
				e.target.result,
				'" title="',
				escape(readerEvt.name),
				'" data-id="',
				readerEvt.name,
				'"/>' + "</div>"
			].join("");

			var div = document.createElement("div");
			div.className = "FileNameCaptionStyle";
			li.appendChild(div);
			div.innerHTML = [readerEvt.name].join("");
			document.getElementById("Filelist").insertBefore(ul, null);
		}

		//Fill the array of attachment
		function FillAttachmentArray(e, readerEvt) {
			AttachmentArray[arrCounter] = {
				AttachmentType: 1,
				ObjectType: 1,
				FileName: readerEvt.name,
				FileDescription: "Attachment",
				NoteText: "",
				MimeType: readerEvt.type,
				Content: e.target.result.split("base64,")[1],
				FileSizeInBytes: readerEvt.size
			};
			arrCounter = arrCounter + 1;
		}

	</script>


	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/atlantis.min.css">
	<link rel="stylesheet" href="../static/css/custom.css">

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link rel="stylesheet" href="../static/css/demo.css">
</head>

<body>
	<div class="wrapper sidebar_minimize">
		<div class="main-header">
			<!-- Logo Header -->
			<div class="logo-header" data-background-color="blue">

				<a href="../index.html" class="logo">
					<img src="../static/img/3.png" style="width:108px;" alt="navbar brand" class="navbar-brand">
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
					data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="icon-menu"></i>
					</span>
				</button>
				<button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
				<div class="nav-toggle">
					<button class="btn btn-toggle toggle-sidebar">
						<i class="icon-menu"></i>
					</button>
				</div>
			</div>
			<!-- End Logo Header -->

			<!-- Navbar Header -->
			<nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue2">
				<div class="container-fluid">
					<div class="collapse" id="search-nav">
						<form class="navbar-left navbar-form nav-search mr-md-3">
							<div class="input-group">
								<div class="input-group-prepend">
									<button type="submit" class="btn btn-search pr-1">
										<i class="fa fa-search search-icon"></i>
									</button>
								</div>
								<input type="text" placeholder="Search ..." class="form-control">
							</div>
						</form>
					</div>
					<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
						<li class="nav-item toggle-nav-search hidden-caret">
							<a class="nav-link" data-toggle="collapse" href="#search-nav" role="button"
								aria-expanded="false" aria-controls="search-nav">
								<i class="fa fa-search"></i>
							</a>
						</li>
						<li class="nav-item dropdown hidden-caret">
						<li class="nav-item dropdown hidden-caret">
							<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"
								aria-expanded="false">
								<div class="avatar-sm">
									<img src="../static/img/profile.png" style="width:40px;" alt="..."
										class="avatar-img rounded-circle">
								</div>
							</a>
							<ul class="dropdown-menu dropdown-user animated fadeIn">
								<div class="dropdown-user-scroll scrollbar-outer">
									<li>
										<div class="user-box">
											<div class="avatar-lg"><img src="../static/img/profile.png"
													style="width:66px;" alt="image profile" class="avatar-img rounded">
											</div>
											<div class="u-text">
												<h4>Zupervise</h4>
												<p class="text-muted">hello@example.com</p><a href="profile.html"
													class="btn btn-xs btn-secondary btn-sm">View Profile</a>
											</div>
										</div>
									</li>
									<li>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">My Profile</a>
										<a class="dropdown-item" href="#">My Balance</a>
										<a class="dropdown-item" href="#">Inbox</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="#">Account Setting</a>
										<div class="dropdown-divider"></div>
										<a class="dropdown-item" href="../templates/index.html">Logout</a>
									</li>
								</div>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
			<!-- End Navbar -->
		</div>
		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2">
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">
					<div class="user">
						<div class="avatar-sm float-left mr-2">
							<img src="../static/img/profile.png" alt="..." class="avatar-img rounded-circle">
						</div>
						<div class="info">
							<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									Zupervise
									<span class="user-level">Administrator</span>
									<span class="caret"></span>
								</span>
							</a>
							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample">
								<ul class="nav">
									<li>
										<a href="#profile">
											<span class="link-collapse">My Profile</span>
										</a>
									</li>
									<li>
										<a href="#edit">
											<span class="link-collapse">Edit Profile</span>
										</a>
									</li>
									<li>
										<a href="#settings">
											<span class="link-collapse">Settings</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<ul class="nav nav-primary">
						<li class="nav-item active">
							<a href="../templates/dashboard.html" class="collapsed">
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
							</a>
						</li>
						<!-- <li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">Components</h4>
						</li> -->
						<li class="nav-item">
							<a data-toggle="collapse" href="#base">
								<i class="fas fa-layer-group"></i>
								<p>Risks</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="base">
								<ul class="nav nav-collapse">
									<li>
										<a href="../templates/new-risk.html">
											<span class="sub-item">New Risk</span>
										</a>
									</li>
									<li>
										<a href="../templates/risk-list.html">
											<span class="sub-item">View Risks</span>
										</a>
									</li>
								</ul>
							</div>
						</li>

						<li class="nav-item">
							<a data-toggle="collapse" href="#controls">
								<i class="fas fa-pen-square"></i>
								<p>Controls</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="controls">
								<ul class="nav nav-collapse">
									<li>
										<a href="../templates/new-risk.html">
											<span class="sub-item">New Control</span>
										</a>
									</li>
									<li>
										<a href="../templates/risk-list.html">
											<span class="sub-item">View Controls</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-item">
							<a data-toggle="collapse" href="#assessments">
								<i class="fas fa-table"></i>
								<p>Risk Assessments</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="assessments">
								<ul class="nav nav-collapse">
									<li>
										<a href="../templates/new-assessment.html">
											<span class="sub-item">New Assessment</span>
										</a>
									</li>
									<li>
										<a href="../templates/risk-list.html">
											<span class="sub-item">View Assessments</span>
										</a>
									</li>
								</ul>
							</div>
						</li>

						<!-- <li class="nav-item">
							<a href="widgets.html">
								<i class="fas fa-desktop"></i>
								<p>Widgets</p>
								<span class="badge badge-success">4</span>
							</a>
						</li> -->

						<!-- <li class="mx-4 mt-2">
							<a href="http://themekita.com/atlantis-bootstrap-dashboard.html" class="btn btn-primary btn-block"><span class="btn-label mr-2"> <i class="fa fa-heart"></i> </span>Buy Pro</a> 
						</li> -->
					</ul>
				</div>
			</div>
		</div>
		<!-- End Sidebar -->
		<div class="main-panel">
			<div class="content">
				<div class="page-inner">
					<div class="page-header">
						<h4 class="page-title">Assessments</h4>
						<ul class="breadcrumbs">
							<!-- <li class="nav-home">
								<a href="#">
									<i class="flaticon-home"></i>
								</a>
							</li> -->
							<!-- <li class="separator">
								<i class="flaticon-right-arrow"></i>
							</li>
							<li class="nav-item">
								<a href="#">Forms</a>
							</li>
							<li class="separator">
								<i class="flaticon-right-arrow"></i>
							</li>
							<li class="nav-item">
								<a href="#">Risks</a>
							</li> -->
						</ul>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">New Assessment</div>
								</div>
								<div class="card-body">
									<div class="row">
										<div class="col-md-4">
											<div class="form-group">
												<label for="exampleFormControlSelect1">Risk</label>
												<select class="form-control" id="exampleFormControlSelect1">
													<option>Accept</option>
													<option>Mitigate</option>
													<option>Transfer</option>
													<option>Avoid</option>
												</select>
											</div>
										</div>
										<div class="col-md-2">
											<button class="btn btn-sm btn-primary" id="plus"
												style="margin-top: 40px;">Add Risk</button>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="exampleFormControlSelect1">Control</label>
												<select class="form-control" id="exampleFormControlSelect1">
													<option>Accept</option>
													<option>Mitigate</option>
													<option>Transfer</option>
													<option>Avoid</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row" id="dynamic" style="background-color: lightcyan;">

									</div>
									<div class="row">
										<div class="col-md-6 col-lg-4">
											<div class="form-group">
												<label for="riskId">Risk Id</label>
												<input type="text" class="form-control" id="riskId" readonly
													placeholder="RSA_0000001">

											</div>
											<div class="form-group">
												<label for="projectname">Assessment Project Name</label>
												<input type="text" class="form-control" id="projectname"
													placeholder="Enter Project Name">

											</div>
											<div class="form-group">
												<label for="entity">Entity</label>
												<input type="text" class="form-control" id="entity"
													placeholder="Enter Entity">
											</div>
											<div class="form-group">
												<label for="sector">Sector</label>
												<input type="text" class="form-control" id="sector"
													placeholder="Enter sector">
											</div>
											<div class="form-group">
												<label for="business">Business</label>
												<input type="text" class="form-control" id="business"
													placeholder="Enter Business">
											</div>
											<div class="form-group">
												<label for="rcsaentity">RCSA Entity</label>
												<input type="text" class="form-control" id="rcsaentity"
													placeholder="Enter RCSA Entity">
											</div>
											<div class="form-group">
												<label for="riskowner">Risk Owner</label>
												<input type="text" class="form-control" id="riskowner"
													placeholder="Enter Risk Owner" readonly>
											</div>
											<div class="form-group">
												<label for="trigger">Trigger</label>
												<input type="text" class="form-control" id="trigger"
													placeholder="Enter trigger">
											</div>

											<div class="form-group">
												<label for="exampleFormControlSelect2">Category of AI Risk</label>
												<select multiple class="form-control" id="exampleFormControlSelect2">
													<option>Privacy</option>
													<option>Responsbility</option>
													<option>Reliability</option>
													<option>Accountability</option>
													<option>Security</option>
												</select>
											</div>
											<div class="form-group">
												<label for="exampleFormControlSelect2">Source</label>
												<select multiple class="form-control" id="exampleFormControlSelect2">
													<option>Process</option>
													<option>Data</option>
													<option>People</option>
													<option>Model</option>
												</select>
											</div>
											<!-- <div class="form-group">
												<label for="exampleFormControlFile1">Example file input</label>
												<input type="file" class="form-control-file" id="exampleFormControlFile1">
											</div>
											<div class="form-group">
												<label for="comment">Comment</label>
												<textarea class="form-control" id="comment" rows="5">

												</textarea>
											</div>
											<div class="form-check">
												<label class="form-check-label">
													<input class="form-check-input" type="checkbox" value="">
													<span class="form-check-sign">Agree with terms and conditions</span>
												</label>
											</div> -->
										</div>
										<div class="col-md-6 col-lg-4">
											<div class="form-group">
												<label for="exampleFormControlSelect1">Frequency</label>
												<select class="form-control" id="exampleFormControlSelect1">
													<option>One-time</option>
													<option>Recurring</option>
													<option>Both</option>
												</select>
											</div>
											<div class="form-group">
												<label for="businessprocess">Business Process</label>
												<input type="text" class="form-control" id="businessprocess"
													placeholder="">
											</div>
											<div class="form-group">
												<label for="subprocess">Sub Process</label>
												<input type="text" class="form-control" id="subprocess" placeholder="">
											</div>
											<div class="form-group">
												<label for="riskscore">Inherent Risk Score</label>
												<input type="text" class="form-control" id="riskscore" placeholder=""
													readOnly>
											</div>

											<div class="form-group">
												<label for="impactdesc">Impact Description</label>
												<input type="text" class="form-control" id="impactdesc"
													placeholder="Enter impact description">
											</div>
											<div class="form-group">
												<label for="exampleFormControlSelect1">Classification</label>
												<select class="form-control" id="exampleFormControlSelect1">
													<option>Positive</option>
													<option>Negative</option>
												</select>
											</div>
											<div class="form-group">
												<label for="exampleFormControlSelect1">Positive Risk Response</label>
												<select class="form-control" id="exampleFormControlSelect1">
													<option>Accept</option>
													<option>Enhance</option>
													<option>Share</option>
													<option>Exploit</option>
												</select>
											</div>

											<div class="form-group">
												<label for="exampleFormControlSelect1">Negative Risk Response</label>
												<select class="form-control" id="exampleFormControlSelect1">
													<option>Accept</option>
													<option>Mitigate</option>
													<option>Transfer</option>
													<option>Avoid</option>
												</select>
											</div>
											<div class="form-group">
												<label for="responseowner">Response Owner</label>
												<input type="text" class="form-control" id="responseowner" readOnly
													placeholder="Owner name">
											</div>
											<div class="form-group">
												<label for="description">Response Description</label>
												<input type="text" class="form-control" id="description"
													placeholder="Enter response description">
											</div>
											<div class="form-group">
												<label for="password">Expected Response Impact</label>
												<input type="text" class="form-control" id="password"
													placeholder="Response impact">
											</div>
											<div class="form-group">
												<label for="controlid">Control Id</label>
												<input type="text" class="form-control" id="controlid" placeholder=""
													readonly>
											</div>
										</div>
										<div class="col-md-6 col-lg-4">
											<div class="form-group">
												<label for="keycontrol">Key Control</label>
												<input type="text" class="form-control" id="keycontrol" placeholder=""
													readOnly>
											</div>

											<div class="form-group">
												<label for="process">Process</label>
												<input type="text" class="form-control" id="process"
													placeholder="Enter Process">
											</div>
											<div class="form-group">
												<label for="Summary">Summary</label>
												<input type="text" class="form-control" id="summary"
													placeholder="Enter Summary">
											</div>
											<div class="form-group">
												<label for="guidelines">Guidelines</label>
												<input type="text" class="form-control" id="guidelines"
													placeholder="Guidelines">
											</div>
											<div class="form-group">
												<label for="exampleFormControlSelect2">Type of Report</label>
												<select multiple class="form-control" id="exampleFormControlSelect2">
													<option>Standard Report</option>
													<option>Custom Developed Report</option>
													<option>Ad-hoc Query</option>
													<option>Manually Developed Report</option>
												</select>
											</div>
											<div class="form-group">
												<label for="reportdate">Effective Date of Report</label>
												<input type="date" class="form-control" id="reportdate"
													placeholder="Guidelines">
											</div>
											<div class="form-group">
												<label for="exampleFormControlSelect1">Frequency</label>
												<select class="form-control" id="exampleFormControlSelect1">
													<option>Annual</option>
													<option>Semi-Annual</option>
													<option>Quarterly</option>
													<option>Monthly</option>
													<option>Bi-weekly</option>
													<option>Weekly</option>
													<option>Transactional</option>
													<option>Ad Hoc</option>
												</select>
											</div>
											<div class="form-group">
												<label for="exampleFormControlSelect1">Classification</label>
												<select class="form-control" id="exampleFormControlSelect1">
													<option>Manual</option>
													<option>It Department</option>
													<option>Automated</option>
												</select>
											</div>
											<div class="form-group">
												<label for="exampleFormControlSelect1">Type</label>
												<select class="form-control" id="exampleFormControlSelect1">
													<option>Preventative</option>
													<option>Detective</option>
												</select>
											</div>
											<div class="form-group">
												<label for="exampleFormControlSelect1">Effectiveness</label>
												<select class="form-control" id="exampleFormControlSelect1">
													<option>Saticfactory</option>
													<option>Not Satisfactory:Business Issue (BI)</option>
													<option>Not Satisfactory:Major Business Issue (MBI)</option>
												</select>
											</div>

										</div>
										<div class="col-md-12 col-lg-12">
											<div class="form-check">
												<label>Algorithm</label><br />
												<div class="row">
													<div class="col-xs-12 col-md-3">
														<label class="form-radio-label">
															<input class="form-radio-input" type="radio"
																name="optionsRadios" value="" checked="">
															<div class="big-checkbox oneclass">
																<div class="background-color1">
																	<span class="form-radio-sign">Supervised
																		Learning</span><br /><br />
																</div>
																<div>

																	<p style="word-break: break-all;
													white-space: normal;">Data scientists provide input,output and feedback to build
																		model(as the definition)</p>
																	<h4 class="algm1">EXAMPLE ALGORITHMS</h4>
																	<h4>Linear regressions</h4>
																	<ul>
																		<li class="list1">sales forecasting</li>
																		<li class="list1">risk assessment</li>
																	</ul>
																	<h4>Support vector machines</h4>
																	<ul>
																		<li class="list1">image classification</li>
																		<li class="list1">financial perfomance
																			comparison</li>
																	</ul>
																	<h4>Decision tree</h4>
																	<ul>
																		<li class="list1">predictive analytics</li>
																		<li class="list1">pricing</li>
																	</ul>
																</div>
															</div>
														</label>
													</div>

													<div class="col-xs-12 col-md-3">
														<label class="form-radio-label ml-3">
															<input class="form-radio-input" type="radio"
																name="optionsRadios" value="">
															<div class="big-checkbox twoclass">
																<div class="background-color2">
																	<span class="form-radio-sign">Unsupervised
																		Learning</span><br /><br />
																</div>
																<div>

																	<p style="word-break: break-all;
															white-space: normal;">Use deep learning to arrive at conclusions and patterns through unlabled training
																		data.</p>
																	<h4 class="algm2">EXAMPLE ALGORITHMS</h4>
																	<h4>Apriori</h4>
																	<ul>
																		<li class="list2">sales functions</li>
																		<li class="list2">word associations</li>
																		<li class="list2">searcher</li>
																	</ul>
																	<h4>K-means clustering</h4>
																	<ul>
																		<li class="list2">perfomance monitoring</li>
																		<li class="list2">searcher intent</li>
																	</ul>
																</div>
															</div>
														</label>
													</div>

													<div class="col-xs-12 col-md-3">
														<label class="form-radio-label ml-3">
															<input class="form-radio-input" type="radio"
																name="optionsRadios" value="">
															<div class="big-checkbox threeclass">
																<div class="background-color3">
																	<span class="form-radio-sign">Semi-supervised
																		Learning</span><br /><br />
																</div>
																<div>

																	<p style="word-break: break-all;
															white-space: normal;">Builds a model through a mix of labeled and unlabeled data, a set of
																		categories,suggestions and exampled labels.</p>
																	<h4 class="algm3">EXAMPLE ALGORITHMS</h4>
																	<h4>Generative adversarial networks</h4>
																	<ul>
																		<li class="list3">audio and video manipulation
																		</li>
																		<li class="list3">data creation</li>
																	</ul>
																	<h4>K-means clustering</h4>
																	<ul>
																		<li class="list3">perfomance monitoring</li>
																		<li class="list3">searcher intent</li>
																	</ul>
																</div>
															</div>
														</label>
													</div>

													<div class="col-xs-12 col-md-3">
														<label class="form-radio-label ml-3">
															<input class="form-radio-input" type="radio"
																name="optionsRadios" value="">
															<div class="big-checkbox fourclass">
																<div class="background-color4">
																	<span class="form-radio-sign">Reinforcement
																		Learning</span><br /><br />
																</div>
																<div>

																	<p style="word-break: break-all;
															white-space: normal;">Self interpreting but based on a system of rewards and punishments learned through
																		trial and error,seeking maximum reward.</p>
																	<h4 class="algm4">EXAMPLE ALGORITHMS</h4>
																	<h4>Q-learning</h4>
																	<ul>
																		<li class="list4">policy creation</li>
																		<li class="list4">consumption reduction</li>
																	</ul>
																	<h4>Model-based value estimation</h4>
																	<ul>
																		<li class="list4">linear tasks</li>
																		<li class="list4">estimating partners</li>
																	</ul>
																</div>
															</div>
														</label>
													</div>
												</div>
											</div>

										</div>
										<div class="col-md-12 col-lg-12">
											<div>
												<label style="font-size: 14px;">
													<span style='color:navy;font-weight:bold'>Multiple Files Upload</span>
												</label>
												<span class="btn btn-success fileinput-button">
													<span>Upload File</span>
													<input type="file" name="files[]" id="files" multiple
														accept="image/jpeg, image/png, image/gif,"><br />
												</span>
												<output id="Filelist"></output>
											</div>
										</div>
									</div>

								</div>
								<div class="card-action">
									<button class="btn btn-success">Create Assessment</button>
									<button class="btn btn-danger">Cancel</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link" href="https://www.themekita.com">
									ThemeKita
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									Help
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									Licenses
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
						2018, made with <i class="fa fa-heart heart text-danger"></i> by <a
							href="https://www.themekita.com">ThemeKita</a>
					</div>
				</div>
			</footer>
		</div>

		<!-- Custom template | don't include it in your project! -->
		<div class="custom-template">
			<div class="title">Settings</div>
			<div class="custom-content">
				<div class="switcher">
					<div class="switch-block">
						<h4>Logo Header</h4>
						<div class="btnSwitch">
							<button type="button" class="changeLogoHeaderColor" data-color="dark"></button>
							<button type="button" class="selected changeLogoHeaderColor" data-color="blue"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="purple"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="light-blue"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="green"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="orange"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="red"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="white"></button>
							<br />
							<button type="button" class="changeLogoHeaderColor" data-color="dark2"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="blue2"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="purple2"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="light-blue2"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="green2"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="orange2"></button>
							<button type="button" class="changeLogoHeaderColor" data-color="red2"></button>
						</div>
					</div>
					<div class="switch-block">
						<h4>Navbar Header</h4>
						<div class="btnSwitch">
							<button type="button" class="changeTopBarColor" data-color="dark"></button>
							<button type="button" class="changeTopBarColor" data-color="blue"></button>
							<button type="button" class="changeTopBarColor" data-color="purple"></button>
							<button type="button" class="changeTopBarColor" data-color="light-blue"></button>
							<button type="button" class="changeTopBarColor" data-color="green"></button>
							<button type="button" class="changeTopBarColor" data-color="orange"></button>
							<button type="button" class="changeTopBarColor" data-color="red"></button>
							<button type="button" class="changeTopBarColor" data-color="white"></button>
							<br />
							<button type="button" class="changeTopBarColor" data-color="dark2"></button>
							<button type="button" class="selected changeTopBarColor" data-color="blue2"></button>
							<button type="button" class="changeTopBarColor" data-color="purple2"></button>
							<button type="button" class="changeTopBarColor" data-color="light-blue2"></button>
							<button type="button" class="changeTopBarColor" data-color="green2"></button>
							<button type="button" class="changeTopBarColor" data-color="orange2"></button>
							<button type="button" class="changeTopBarColor" data-color="red2"></button>
						</div>
					</div>
					<div class="switch-block">
						<h4>Sidebar</h4>
						<div class="btnSwitch">
							<button type="button" class="selected changeSideBarColor" data-color="white"></button>
							<button type="button" class="changeSideBarColor" data-color="dark"></button>
							<button type="button" class="changeSideBarColor" data-color="dark2"></button>
						</div>
					</div>
					<div class="switch-block">
						<h4>Background</h4>
						<div class="btnSwitch">
							<button type="button" class="changeBackgroundColor" data-color="bg2"></button>
							<button type="button" class="changeBackgroundColor selected" data-color="bg1"></button>
							<button type="button" class="changeBackgroundColor" data-color="bg3"></button>
							<button type="button" class="changeBackgroundColor" data-color="dark"></button>
						</div>
					</div>
				</div>
			</div>
			<div class="custom-toggle">
				<i class="flaticon-settings"></i>
			</div>
		</div>
		<!-- End Custom template -->
	</div>
	<!--   Core JS Files   -->
	<script src="../static/js/core/jquery.3.2.1.min.js"></script>
	<script src="../static/js/core/popper.min.js"></script>
	<script src="../static/js/core/bootstrap.min.js"></script>
  
	<!-- jQuery UI -->
	<script src="../static/js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="../static/js/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
  
	<!-- jQuery Scrollbar -->
	<script src="../static/js/jquery-scrollbar/jquery.scrollbar.min.js"></script>
  
	<!-- jQuery Sparkline -->
	<script src="../static/js/jquery.sparkline/jquery.sparkline.min.js"></script>
  
	<!-- Datatables -->
	<script src="../static/js/datatables/datatables.min.js"></script>
  
	<!-- Bootstrap Notify -->
	<script src="../static/js/bootstrap-notify/bootstrap-notify.min.js"></script>
  
	<!-- Sweet Alert -->
	<script src="../static/js/sweetalert/sweetalert.min.js"></script>
  
	<!-- Atlantis JS -->
	<script src="../static/js/atlantis.min.js"></script>
  
	<script src="../static/js/setting-demo.js"></script>
</body>

</html>